# Data Cleaning
_Paul Torres & Albert Um - DS Flatiron cohort 06/22/20_ <br>
For the sake of efficiency, we divided the work by:
1. Split ALL columns
2. Each person works on their respective columns
3. Merge the joined columns
4. Feature Engineer independently and merge dataframes EOD(end of day)
5. Repeat step 4

## Work Flow:
_Split -> Merge(commit1) -> Split(commit1) -> Merge(commit2) -> ..._<br>
psam_p36.csv contains 196,967 rows and 286 columns<br>
<br>
The finished dataframe has 159,299 rows and 91 columns<br>
Rows with Age less than 17 have been dropped.

In [1]:
import pandas as pd
df_al = pd.read_csv('archive/psam_p36.csv')
df_paul = pd.read_csv('archive/psam_p36.csv')
df_al.shape
print('Data is loaded.')

Data is loaded.

## Table of Contents
1. Import Libraries
2. Paul's Section
3. Albert's Section
4. Merge Dataframes
5. Additional Feature Engineering
6. Dropped Columns

### Import Libraries

In [2]:
import matplotlib.pyplot as plt
from math import exp
from scipy.stats import norm
from scipy import stats
import seaborn as sns
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import Helpers as helper
%matplotlib inline
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
plt.rcParams["figure.figsize"] = [10,5]
import warnings
warnings.filterwarnings("ignore")
print('Packages are loaded.')

Packages are loaded.

### Paul's Section

Custom Functions called from Helpers.py

In [3]:
df_paul = helper.paul_pipeline(df_paul)

---

### Albert's Section

Custom Functions called from Helpers.py

In [4]:
df_al = helper.alberts_turn(df_al)

---

### Merge DataFrames

In [5]:
nys = pd.merge(df_al, df_paul, left_index=True, right_index=True)
del df_al
del df_paul

### Additional Feature Engineering

In [6]:
# Features from the Census Housing dataset is taken: 
house_df = pd.read_csv('archive/psam_h36.csv')

In [7]:
house_df['FINCP'] = house_df['FINCP'].fillna(0)
house_df['HINCP'] = house_df['HINCP'].fillna(0)

In [9]:
nys = helper.additional_feature_engineering(nys, house_df)
del house_df
display(nys.shape)
nys.head()

(159299, 196)

,RT_x,SERIALNO,SPORDER_x,PUMA_x,ADJINC_x,PWGTP_x,AGEP,CIT,DEYE,HINS4,...,NP,TYPE,FINCP,HINCP,RACES,MIL_STAT,INDUSTRY,SOCP_recat,MAR_YEARS,AGE_cat
0,P,2018GQ0000012,1,3802,1013097,145,26,5,2,2,...,1,3,0.0,0.0,White,Served,Education,OFF,0.0,Under 40
1,P,2018GQ0000040,1,2702,1013097,43,21,1,2,2,...,1,3,0.0,0.0,White,Served,Entertainment,EAT,0.0,Under 40
2,P,2018GQ0000060,1,2001,1013097,88,18,2,2,1,...,1,3,0.0,0.0,Other,Served,Entertainment,SAL,0.0,Under 40
3,P,2018GQ0000081,1,2401,1013097,109,85,1,2,1,...,1,2,0.0,0.0,White,Served,None,None,68.0,65 and over
4,P,2018GQ0000103,1,1400,1013097,83,19,1,2,2,...,1,3,0.0,0.0,White,Served,Entertainment,ENT,0.0,Under 40

### Dropped Columns
Columns were dropped for the following reasons:
1. Columns seemed correlated with Health Insurance Coverage
2. Columns seemed to be a repeat of other features
3. Columns were allocation flags or value 'weights'
For final columns utilized, please view the 'Final_Columns.txt'

In [10]:
nys = helper.dropping_last_columns(nys)

In [11]:
nys.shape

(159299, 91)

In [12]:
nys.to_csv('nys_cleaned.csv', index=False, header=True)

### You can stop here for the fully cleaned data. Below are the statistical tests we conducted on the data

### Kruskal-Whallis: non-parametric version of ANOVA

In [ ]:
from scipy import stats

# null: Insured Age Median == Not Insured Age Median
# alt: Insured Age Median != Not Insured Age Median
# alpha: 0.05
stats.kruskal(_hicov1['AGEP'], _hicov2['AGEP'])

# reject null in favor of alt. Age medians between two classes are DIFFERENT.

In [ ]:
# null: Insured Sex Proportion == Not Insured Sex Proportion
# alt: Insured Sex Proportion != Not Insured Sex Proportion
# alpha: 0.05
stats.chi2_contingency(ct)
# reject null in favor of alternative

In [ ]:
# null: Insured Marriage Status Proportion == Not Insured Marriage Status Proportion
# alt: Insured Marriage Status Proportionn != Not Insured Marriage Status Proportion
# alpha: 0.05
stats.chi2_contingency(ct)
# reject null in favor of alternative